body, html { 
    width: 100%;
    height: 100%;
}

.page {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'PermanentMarker', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  background-color: #f3aae1;
  display: flex;
  justify-content: center;
  align-items: center;
}
