@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../fonts/fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Permanent+Marker&display=swap');



.lead {
    max-width: 984px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    line-height: 40px;
    color: #2e2b2b;
    text-align: center;
    max-width: 350px;
    padding: 0;
    margin: 0 auto;
    margin-top: 15px;
}

.dog {
    max-width: 250px;
    box-shadow: 0px 10px 20px 10px #db3232;
}

.buttons {
    margin-top: 15px;
    min-width: 245px;
}

.buttony {
    transition: all 0.5s;
    min-width: 120px;
    cursor: pointer;

    padding: 12px 17px;
    border: 0;
    border-radius: 7px;

    box-shadow: inset 0 0 0 1px rgb(243 179 251 / 94%);
    background: radial-gradient(ellipse at bottom, rgb(255, 255, 255) 0%, rgb(251 195 195) 45%);
    color: rgba(0, 0, 0, 0.66);
}

.buttonn {
    transition: all 0.5s;
    min-width: 120px;
    cursor: not-allowed;

    padding: 12px 17px;
    border: 0;
    border-radius: 7px;

    box-shadow: inset 0 0 0 1px rgba(255, 125, 125, 0.942);
    background: radial-gradient(ellipse at bottom, rgb(255, 255, 255) 0%, rgb(251 195 195) 45%);

    color: rgba(0, 0, 0, 0.66);
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 300px;
    justify-items: center;
}

.photo {
    max-width: 150px;
    box-shadow: 0px 2px 20px 15px rgb(195 50 220 / 75%);
    rotate: 5deg;
}

.hug {
    position: relative;
    max-width: 150px;
    rotate: 355deg;
    box-shadow: 0px 2px 20px 15px rgb(195 50 220 / 75%);
}

.photo2 {
    max-width: 150px;
    box-shadow: 0px 2px 20px 15px rgb(195 50 220 / 75%);
    rotate: 5deg;
    grid-column: span 2;
}
